name: deploy

on:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/yochambeo-back:latest

      - name: Set up SSH key
        run: |
          echo "${{ secrets.EC2_SSH_PRIVATE_KEY }}" > /tmp/ec2_key.pem
          chmod 600 /tmp/ec2_key.pem

      - name: Deploy to EC2
        run: |
          ssh -i /tmp/ec2_key.pem -o StrictHostKeyChecking=no ubuntu@ec2-3-16-113-94.us-east-2.compute.amazonaws.com << 'EOF'
            echo "Iniciando sesi칩n en EC2..."
            echo "Iniciando sesi칩n en AWS..."

            # Exportar las credenciales de AWS
            export AWS_ACCESS_KEY_ID="${{ secrets.AWS_ACCESS_KEY_ID }}"
            export AWS_SECRET_ACCESS_KEY="${{ secrets.AWS_SECRET_ACCESS_KEY }}"
            export AWS_DEFAULT_REGION="us-east-2"

            echo "Descargando .env de S3..."
            mkdir -p /tmp/env
            aws s3 cp s3://yochambeo.env/.env /tmp/.env

            echo "Bajando y eliminando todos los contenedores..."
            docker rm -f $(docker ps -aq) || true  # Eliminar todos los contenedores

            echo "Bajando y eliminando todas las im치genes de Docker..."
            docker rmi $(docker images -q) || true  # Eliminar todas las im치genes

            echo "Levantando imagen de PostgreSQL..."
            docker run --name postgres-container --env-file /tmp/.env -d postgres:latest

            echo "Ejecutando el contenedor desde Docker Hub..."
            docker run --name yochambeo -d --env-file /tmp/.env --link postgres-container:db maxitrigo/yochambeo-back:latest
          EOF
